.sidebar-container {
    position: relative;
    top: 70px;
    .sidebar {
        height: 100vh;
        min-width: 25vw;
        border: 1px solid darkblue;
        cursor: pointer;

        .list-group-item {

            &:hover {
                background: royalblue;
            }
        }
    }
}