<app-page-content>
    <div class="home-component">
        <app-slider></app-slider>
        <div class="home-content">

            <div class="recent-section">

                <div class="recent-header">
                    <h1 class="recent-head"><span>Ostatnie aktywności</span></h1>
                </div>

                <div class="recent-items">
                    <div class="recent-item">

                        <div class="recent-image">
                            <img src="https://i.iplsc.com/-/0003VM9L8BXPU546-C125-F4.jpg" alt="">
                        </div>

                        <div class="recent-data">

                            <div class="recent-meta">
                                <div class="recent-type">
                                    <h4 class="recent-type-header">News</h4>
                                </div>
                                <div class="recent-date">
                                    <h4 class="recent-type-date">01.07.20</h4>
                                </div>
                            </div>

                            <div class="recent-info">
                                <p class="recent-info-content">Hellhammer planuje wydać płytę w 2008 roku.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Newsy -->

            <div class="news-section">
                <h1 class="news-head"><span>Newsy</span></h1>

                <div class="news-items">
                    <div class="news-item">
                        <div class="news-picture">
                            <img src="https://i.iplsc.com/-/0003VM9L8BXPU546-C125-F4.jpg" alt="">
                        </div>

                        <div class="news-content">
                            <div class="news-article-header">Demon Entarils</div>
                            <div class="news-band-name">Hellhammer</div>
                        </div>
                    </div>
                </div>
                <button class="more-news" type="button">Pokaż więcej</button>
            </div>

            <!-- Recenzje -->

            <div class="reviews-section">
                <div class="reviews-header">
                    <h1 class="reviews-head"><span>Recenzje</span></h1>
                </div>

                <div class="reviews-items">
                    <div class="review-item">

                        <div class="review-image">
                            <img src="https://i.iplsc.com/-/0003VM9L8BXPU546-C125-F4.jpg" alt="">
                        </div>

                        <div class="review-content">

                            <div class="review-meta">
                                <h2 class="review-header">Recenzja</h2>
                                <h2 class="review-date">01.07.2020</h2>
                            </div>

                            <div class="review-info">
                                <p>no niezla plyta polecam fest</p>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="more-news" type="button">Pokaż więcej</button>
            </div>

        </div>
        <app-footer></app-footer>
    </div>
</app-page-content>