@import '../../../sass/variables';

.news-component {
    margin: 50px 20px;
    box-sizing: border-box;
    .news-header {
        .news-header-head {
            font-size: 24px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: space-between;

            .news-header-line {
                border-top: 2px solid $warmer-grey;
                width: 30%;
                align-self: center;
            }
        }
    }

    .news-items {
        margin: 50px 0;
        position: relative;

        &:after {
            content: "";
            background: $pea;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 42px;
        }
        
        .news-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80vw;
            
            .news-item-photo {
                width: 100%;
                height: 160px;
                background-image: url('../../../assets/pics/f4acd177-3281-43e1-9dc1-4eaa046ffb7a.png');
            }

            .news-content {
                width: 100%;
                margin: 10px 0;
                overflow-wrap: break-word;
                
                .news-content-meta {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    
                    .news-header {
                        width: 100%;
                        

                        h2 {
                            padding: 10px;
                            font-size: 24px;
                            margin: 0;
                        }
                    }

                    .news-description {
                        width: 100%;
                        color: $warmer-grey;
                    }
                }
            }
        }
    }

    .button-container {
        .btn-show-more {
            width: 100%;
            height: 34px;
            background: $white;
            border: 2px solid $black;
            font-weight: bold;
        }
    }
}
