<div class="news-component">
    <div class="news-header">
        <h2 class="news-header-head">
            <span class="news-header-line"></span>
            Newsy
            <span class="news-header-line"></span>
        </h2>
    </div>

    <div class="news-items" *ngFor="let n of news">
        <div class="news-item">
            <div class="news-item-photo"></div>
            <div class="news-content">
                <div class="news-content-meta">
                    <div class="news-header">
                        <h2>{{ n.headline }}</h2>
                    </div>
                    <div class="news-description">
                        <p>{{ n.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button type="button" class="btn-show-more">Pokaż więcej</button>
    </div>
</div>