.articles-container {
    position: relative;
    top: 70px;
    .articles-body {
        margin: 10px;

        .list-group {
            margin: 10px 0;
            
            .list-group-item {
                display: flex;

                .actions {
                    margin-left: auto;
                    cursor: pointer;
                }

                &:hover {
                    color: white;
                    background: darkblue;
                }
            }
            
        }
    }
}