<app-page-content>
    <div class="patronage-section">
        <div class="row">
            <div class="col-sm-12 col-md-3" *ngFor="let patronage of patronages" (click)="goToPatronage(patronage.id)">
                <div class="single-patronage">
                    <img [src]="patronage.photoUrl" [alt]="patronage.headline">
                    <div class="patronage-content">
                        <h3>{{ patronage.headline }}</h3>
                        <p>{{ patronage.content }}</p>
                        <small>{{ patronage.author }}, {{ patronage.date | date }}</small>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</app-page-content>
