<app-page-content>
    <div class="patronage-component">
        <div class="patronage-header">
            <h2 class="patronage-header-head">
                Patronaty
            </h2>
        </div>
    
        <div class="patronage-items">
            <div
                class="patronage-item"
                *ngFor="let patronage of patronages"
                (click)="goToPatronage(patronage.id)">
                <div class="patronage-item-photo">
                    <img [src]="patronage.photoUrl" [alt]="patronage.headline">
                </div>
                <div class="patronage-content">
                    <div class="patronage-content-meta">
                        
                        <div class="patronage-date">
                            <p>{{ patronage.date | date }} </p>
                        </div>
                    </div>
                    <div class="patronage-content-info">
                        <p class="patronage-info">
                            {{ patronage.headline }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="button-container">
            <button type="button" class="btn-show-more">Pokaż więcej</button>
        </div>
    </div>
</app-page-content>
<app-footer></app-footer>