@import "../../../../sass/variables";

.slider-component {
    width: 100%;
    .slider {
        position: relative;
        overflow-x: hidden;
        height: 45vh;
        background-image: url("../../../../assets/pics/f4acd177-3281-43e1-9dc1-4eaa046ffb7a.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 10%;
        color: $white;

        .slider-meta {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            .slider-dots {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                .slider-dots-container {
                    display: flex;
                    justify-content: space-between;
                    width: 60px;
                    height: 20px;

                    .dot {
                        width: 8px;
                        height: 8px;
                        background: $warm-grey;
                        border-radius: 50%;
                    }

                    .active {
                        background: $dandelion;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .slider {
            height: 60vh;
        }
        .slider-meta {
            position: absolute;
            bottom: 10%;

            .description {
                padding: 10px;
            }

            .slider-dots-container {
                width: 15% !important;
                max-width: 180px !important;

                .dot {
                    width: 0.8rem !important;
                    height: 0.8rem !important;
                }
            }
        }
    }

    @media (min-width: 1366px) {
        
    }
}
