<div class="slider-component">
    <div class="slider">

        <div class="slider-dots">
            <div class="slider-dots-container">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        
        <div class="description">
            <p>opisopis</p>
        </div>

        <div class="headline">
            <h1>HeadlineHeadline</h1>
        </div>
    </div>
</div>