<app-page-content>
    <div class="detail-component">
        <div class="detail-meta">
            <div class="detail-author">
                <p class="author">{{ detail.author }}</p>
            </div>
            <span class="dot"></span>
            <div class="detail-date">
                <p class="date">{{ detail.date | date }}</p>
            </div>
        </div>

        <div class="detail-headline">
            <div class="detail-header">
                <h2>{{ detail.headline }}</h2>
            </div>
            <div class="detail-description">
                <p>{{ detail.headline }}</p>
            </div>
        </div>
        
        <div class="detail-photo">
            <img [src]="detail.photoUrl" [alt]="detail.headline">
        </div>
        <div class="detail-content">
            <p>{{ detail.content }}</p>
        </div>
        <h2 class="author-end">{{ detail.author }}</h2>

        <div class="rate-article">
            
            <div class="thumbs">
                <h4 class="rate-art">Oceń artykuł</h4>
                <div class="fa">
                    <span class="far fa-thumbs-up"></span>
                </div>
    
                <div class="fa">
                    <span class="far fa-thumbs-down"></span>
                </div>
            </div>
            
            <button
                class="share-fb"
                type="button">
                    <span class="far fa fa-facebook"></span>
                    <span class="share">Udostępnij</span>
            </button>
                  
        </div>
        <app-comments-section></app-comments-section>
    </div>
</app-page-content>
<app-footer></app-footer>