
    $dandelion: #ffe600;
    $black: #000;
    $warm-grey: #919191;
    $white: #fff;
    $pea: #c7ab20;
    $blueberry: #6441ab;
    $warmer-grey: #707070;
    $darken-white: #e9e9e9;
    $dark-white: #d8d6d6;
    $greyish: #b2b0b0;