<app-page-content>
    <div class="interview-section">
        <div class="row">
            <div class="col-sm-12 col-md-3" *ngFor="let interview of interviews" (click)="goToInterview(interview.id)">
                <div class="single-interview">
                    <img [src]="interview.photoUrl" [alt]="interview.headline">
                    <div class="interview-content">
                        <h3>{{ interview.headline }}</h3>
                        <p>{{ interview.content }}</p>
                        <small>{{ interview.author }}, {{ interview.date | date }}</small>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</app-page-content>
