<app-page-content>
    <div class="interview-component">
        <div class="interview-header">
            <h2 class="interview-header-head">
                Wywiady
            </h2>
        </div>
    
        <div class="interview-items">
            <div class="interview-item" *ngFor="let interview of interviews">
                <div class="interview-item-photo">
                    <img [src]="interview.photoUrl" [alt]="interview.headline">
                </div>
                <div class="interview-content">
                    <div class="interview-content-meta">
                        
                        <div class="interview-date">
                            <p>{{ interview.date | date }} </p>
                        </div>
                    </div>
                    <div class="interview-content-info">
                        <p class="interview-info">
                            {{ interview.headline }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="button-container">
            <button type="button" class="btn-show-more">Pokaż więcej</button>
        </div>
    </div>
</app-page-content>
<app-footer></app-footer>