@import "../../../sass/variables";

.report-component {
    margin: 36px 20px 75px 20px;
    box-sizing: border-box;
    .report-header {
        width: 100%;
        height: 75px;
        background: $black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .report-header-head {
            font-size: 48px;
            color: $white;
            text-transform: uppercase;
        }
    }

    .concert-type {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 36px;
        margin: 10px 0;
        
        h3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background: $black;
            height: 100%;
            width: 48%;
            margin: 0;
            color: $white;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .report-items {
        margin: 20px 0 70px 0;

        .report-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 18px 0;
            border-bottom: 3px solid $warm-grey;

            .report-item-photo {
                width: 50%;
                img {
                    width: 100%;
                    height: 160px;
                }
            }
            
            .report-content {
                width: 50%;
                overflow-wrap: break-word;
                min-height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .report-content-meta {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    text-align: center;
                    width: 100%;

                    .report-type {
                        width: 100%;
                        background: $black;
                        h2 {
                            padding: 10px;
                            font-size: 14px;
                            margin: 0;
                            color: $white;
                            text-transform: uppercase;
                        }
                    }

                    .report-date {
                        width: 100%;
                        font-size: 14px;
                        color: $warmer-grey;
                    }
                }

                .report-content-info {
                    padding: 0 10px;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }

    .button-container {
        .btn-show-more {
            width: 100%;
            height: 34px;
            background: $white;
            border: 2px solid $black;
            font-weight: bold;
        }
    }
}
