<app-page-content>
    <div class="contact-component">
        <div class="contact-header">
            <h2 class="contact-header-head">Kontakt</h2>
        </div>

        <div class="contact-items">
            <div class="contact-item">
                <div class="contact-info">
                    <h4 class="contact-head">Die Hard Zine</h4>
                    <h4 class="contact-email">diehardzine@gmail.com</h4>
                </div>
                <div class="contact-form-wrapper">
                    <form class="contact-form">
                        <div class="contact-form-group">
                            <label for="name">Imię i nazwisko *</label>
                            <input
                            type="text"
                            id="name"
                            name="name"
                            class="contact-form-group">

                        </div>

                        <div class="contact-form-group">
                            <label for="email">Adres email *</label>
                            <input
                                type="email"
                                id="email"
                                name="email"
                                class="contact-form-group">
                        </div>

                        <div class="contact-form-group">
                            <label for="message">Wiadomość *</label>
                            <textarea
                                name="message"
                                id="message"
                                rows="10"></textarea>
                        </div>
                        
                        <div class="button-wrapper">
                            <button class="form-button" type="button">Wyślij</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</app-page-content>
<app-footer></app-footer>