<div class="recent-activity-component">
    <div class="activity-header">
        <h2 class="activity-header-head">
            <span class="activity-header-line"></span>
            Ostatnie aktywności
            <span class="activity-header-line"></span>
        </h2>
    </div>

    <div class="activity-items">
        <div class="activity-item">
            <div class="activity-item-photo"></div>
            <div class="activity-content">
                <div class="activity-content-meta">
                    <div class="activity-type"><h2>News</h2></div>
                    <div class="activity-date">
                        <p>01.07.2020 17:00</p>
                    </div>
                </div>
                <div class="activity-content-info">Testing harcoding, gonna change when api ready</div>
            </div>
        </div>
    </div>
</div>