@import "../../../sass/variables";

* {
    box-sizing: border-box;
}

.home-component {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .home-content {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;

        .recent-section {
            border-bottom: 1px solid $warm-grey;
            .recent-header {
                display: flex;
                justify-content: center;
                align-items: center;
                background: $black;
                margin-bottom: 2rem;
                height: 3.5rem;

                .recent-head {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin: 0.8rem 0 1.2rem;
                    color: $white;
                    text-transform: uppercase;
                }
            }

            .recent-items {
                .recent-item {
                    display: flex;
                    margin: 1.9rem 0;

                    .recent-image {
                        width: 50%;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    .recent-data {
                        width: 50%;
                        padding-left: 0.9rem;
                        .recent-meta {
                            height: 2rem;
                            display: flex;
                            justify-content: center;

                            .recent-type {
                                width: 50%;
                                background: $black;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .recent-type-header {
                                    color: $white;
                                    font-weight: bold;
                                    font-size: 1rem;
                                    margin: 0;
                                }
                            }

                            .recent-date {
                                width: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .recent-type-date {
                                    color: $dark-white;
                                    font-weight: bold;
                                    font-size: 0.9rem;
                                    margin: 0;
                                }
                            }
                        }

                        .recent-info {
                            .recent-info-content {
                                font-weight: bold;
                                font-size: 0.9rem;
                            }
                        }
                    }

                    &:hover {
                        background: $greyish;
                        cursor: pointer;
                    }
                }
            }
        }
        .news-section {
            margin-top: 2rem;

            .news-header {
                display: flex;
                justify-content: center;
                align-items: center;
                background: $black;
                margin-bottom: 2rem;
                height: 3rem;

                .news-head {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin: 0.8rem 0 1.2rem;
                    color: $white;
                    text-transform: uppercase;
                }
            }

            .news-items {
                
                .news-item {
                    margin: 1.9rem 0;
                    display: flex;
                    flex-direction: column;

                    .news-picture {
                        margin: 0 auto;
                        width: 100%;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    .news-content {
                        padding: 0.8rem 0.2rem;

                        .news-article-header {
                            font-weight: bold;
                        }

                        .news-single-content {
                            color: $warmer-grey;
                            overflow: hidden;
                        }

                        .news-single-content::after {
                            content: "";
                            height: 0.3rem;
                            width: 25%;
                            margin-top: 0.8rem;
                            color: $pea;
                            background: $pea;
                            display: block;
                        }
                    }

                    &:hover {
                        background: $greyish;
                        cursor: pointer;
                    }
                }
            }

            .more-news {
                width: 60%;
                height: 2rem;
                margin: 10px auto;
                display: block;
                border: 2px solid $black;
                background: transparent;
                font-weight: bold;
            }
        }

        .reviews-section {
            margin-top: 2rem;

            .reviews-header {
                display: flex;
                justify-content: center;
                align-items: center;
                background: $black;
                margin-bottom: 2rem;
                height: 3rem;

                .reviews-head {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin: 0.8rem 0 1.2rem;
                    color: $white;
                    text-transform: uppercase;
                }
            }
            

            .reviews-items {
                
                .review-item {
                    margin: 1.9rem 0;
                    display: flex;
                    flex-direction: column;

                    .review-image {
                        img {
                            width: 100%;
                        }
                    }

                    .review-content {
                        background: $dark-white;
                        border-radius: 0 0 10px 10px;
                        overflow: hidden;
                        .review-meta {
                            display: flex;
                            justify-content: space-evenly;
                            padding: 10px;
                            padding-bottom: 0;

                            h2 {
                                font-size: 1.3rem;
                                font-weight: bold;
                            }

                            .review-date {
                                font-size: 1rem;
                            }
                        }

                        .review-info {
                            display: flex;
                            justify-content: space-evenly;
                            overflow-wrap: break-word;
                            padding: 10px;
                            padding-top: 0;
                            border-bottom: 2px solid $warmer-grey;

                            p {
                                margin: 0;
                            }
                        }
                    }

                    &:hover {
                        background: $greyish;
                        cursor: pointer;
                    }
                }
            }
            .more-news {
                width: 60%;
                height: 2rem;
                margin: 10px auto;
                display: block;
                border: 2px solid $black;
                background: transparent;
                font-weight: bold;
            }
        }

        @media (min-width: 768px) {
            .recent-section {
                border-bottom: none;

                .recent-info {
                    padding: 10px 0;
                    p { font-size: 1.5rem !important; }
                }
            }

            .review-item {
                margin: 25px 0;
            }

            .news-items {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .news-item {
                    width: 40%;
                    margin: 1.9rem 5% !important;
                    
                    .news-article-header {
                        font-size: 1.6rem;
                    }

                    .news-single-content {
                        font-size: 1.4rem;
                    }
                }
            }

            .reviews-items {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .review-item {
                    width: 40%;
                    margin: 1.9rem 5% !important;

                    .review-header {
                        font-size: 1.6rem;
                        line-height: 2.1rem;
                    } 

                    .review-info {
                        font-size: 1.4rem;
                    }
                }
            }
        }

        @media (min-width: 1366px) {

            .recent-section,
            .news-section,
            .reviews-section {
                margin: 8rem 0;
            }

            .recent-header,
            .news-header,
            .reviews-header {
                margin: 5rem 0 !important;
            }

            .news-item {
                width: 23% !important;
            }

            .more-news {
                height: 4rem !important;
                font-size: 1.8rem;
            }
            
        }

        @media (min-width: 1680px) {
            
        }
    }
}
