<div class="comments-component">
    <div class="comments-quantity">
        <h1 class="comments-header">Komentarze</h1>
        <h1 class="comments-number">69</h1>
    </div>

    <div class="comment-form-wrapper">
        <form class="comment-form">
            <div class="comment-form-group">
                <input type="text" class="form-nickname" placeholder="Twój nick">
            </div>

            <div class="comment-form-group">
                <textarea name="comment" class="form-comment" rows="3" placeholder="Skomentuj"></textarea>
            </div>

            <button class="submit-form" type="button">Wyślij</button>

        </form>
    </div>

    <div class="comments-list">
        <div class="comment-meta">
            <h3 class="comment-name">Zdzich siemacho</h3>
            <div class="comment-time">5 godz. temu</div>
            <div class="comment-reactions">
                <span class="far fa fa-thumbs-up">300</span>

                <span class="far fa fa-thumbs-down">69</span>
            </div>
        </div>

        <div class="comment-content">
            <p>Nieno panowie ja tak tylko żartowałem</p>
        </div>
    </div>
</div>