<div class="navbar-container">
    <div class="navbar-items">

        <div
            class="hamburger"
            (click)="hamNavToggle = !hamNavToggle">
            <span></span>
            <span class="ham-nav-short"></span>
            <span></span>
        </div>

        <div class="logo">Die Hard Admin</div>

        <div class="navbar-item">
            <i class="fa fa-cog"></i>
        </div>

        <div class="navbar-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtE4lhAeYFcX0d8MrfxgLo8SyFehUNqFbbBZYjlaDYTZ5VsLVk&usqp=CAU" alt="">
            <span class="username">Max Rabid</span>
        </div>

        <div class="navbar-item">
            <i class="fa fa-chevron-circle-down"></i>
        </div>
    </div>
</div>
<div class="sidebar">
    <app-sidebar
        *ngIf="hamNavToggle"
        (toggleNav)="toggleHam($event)"></app-sidebar>
</div>