@import "../../../sass/variables";

.detail-component {
    margin: 50px 30px 80px 30px;

    .detail-meta {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $warm-grey;
        padding: 10px 10px;
        color: $dark-white;

        .detail-author {
            .author {
                margin: 0;
            }
        }

        .dot {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: $dark-white;
            align-self: center;
        }

        .date {
            margin: 0;
        }
    }

    .detail-headline {
        .detail-header {
            font-size: 30px;
            font-weight: bold;
        }

        .detail-description {
            font-weight: bold;
            color: $warmer-grey;
        }
    }

    .detail-photo {
        img {
            width: 100%;
        }
    }

    .detail-content {
        margin-top: 22px;
    }

    .author-end {
        font-size: 24px;
        font-weight: bold;
        margin: 15px 0;
    }

    .rate-article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid $warm-grey;
        border-bottom: 2px solid $warm-grey;
        padding: 15px 0;

        .far {
            margin: 0 8px;
            font-size: 20px;
        }

        .share-fb {
            width: 60%;
            height: 100%;
            border: none;
            color: $white;
            background: $warmer-grey;
            text-transform: uppercase;
            border-radius: 10px;
        }
    }
    
}